@import 'color-helper';

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$color: #273c75 !default;

$color-50:   lighten($color, 50) !default;
$color-100:  lighten($color, 40) !default;
$color-200:  lighten($color, 30) !default;
$color-300:  lighten($color, 20) !default;
$color-400:  lighten($color, 10) !default;
$color-500:  $color !default;
$color-600:  darken($color, 10) !default;
$color-700:  darken($color, 20) !default;
$color-800:  darken($color, 30) !default;
$color-900:  darken($color, 40) !default;

.system-table-container {

  .btn-table {
    @include button-variant($color, $color)
  }

  .table-responsive {
    .system-table {
      &.table-striped > tbody > tr:nth-child(odd),
      &.table-striped > tbody > tr:nth-child(odd) {
        background-color: lighten($color-50, 25) !important;
      }

      &.table-hover {
        tbody {
          tr {
            &:hover {
              background: $color-50 !important;
            }
          }
        }
      }

      thead {
        th {
          &.table-title {
            background: $color-400;
          }
          background: $color-500;
          color: #fff;

          &.th-asc,
          &.th-desc {
            background: $color-700;
          }

          a {
            color: $gray-200;
          }
        }
      }

    }

    .table-loading-overlay,
    .table-loading-error-overlay {
      span {
        color: $gray-100;
      }
    }

    &.table-loading {
      .table-loading-overlay {
        background: rgba(39, 60, 117, 0.5);
        span {
          box-shadow: 0 0 5px $color-900;
          background: $color-400;
        }
      }
    }

    &.table-loading-error {
      .table-loading-error-overlay {
        background: rgba(234, 67, 53, 0.5);

        span {
          box-shadow: 0 0 5px darken($danger, 10);
          background: $danger;
        }
      }
    }

  }

  .pagination {
    .page-item {
      .page-link {
        color: $color;
        border-color: $color;
      }


      &.active {
        .page-link {
          color: #fff;
          background-color: $color;
          border-color: $color;

          &:hover,
          &:focus {
            background-color: $color;
          }
        }
      }

      .page-link {
        &:hover,
        &:focus {
          background-color: $color;
          border-color: $color;
          color: #fff;
        }
      }

      &.disabled {
        .page-link {
          color: $gray-400;
          border-color: $gray-400;
        }
      }
    }
  }

}