.system-table-container {

  .table-responsive {
    
    .table-loading-overlay,
    .table-loading-error-overlay {
      visibility: hidden;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
      span {
        padding: 8px 15px;
        border-radius: 8px;
        color: $gray-100;
        font-size: 20px;
        font-weight: bolder;
        z-index: 10;
      }
    }

    &.table-loading,
    &.table-loading-error {
      position: relative;
    }

    &.table-loading {
      .table-loading-overlay {
        visibility: visible;
        cursor: wait;
        display: flex;
        background: rgba(39, 60, 117, 0.5);
        span {
          box-shadow: 0 0 5px $color-900;
          background: $color-400;
        }
      }
    }

    &.table-loading-error {
      .table-loading-error-overlay {
        visibility: visible;
        cursor: not-allowed;
        display: flex;
        background: rgba(234, 67, 53, 0.5);

        span {
          box-shadow: 0 0 5px darken($danger, 10);
          background: $danger;
        }
      }
    }

  }
}